beautifulsoup4==4.12.2
pgvector==0.1.7
numpy==1.21.5
pathlib==1.0.1
pydash==5.1.0
sentence-transformers==2.2.2
spacy==3.2.0
torch==1.13.1
tqdm==4.62.3
openai==0.27.6
sqlalchemy==2.0.14
sqlalchemy_utils==0.41.1
guidance==0.0.48
psycopg2==2.9.6
transformers==4.29.2
